<%+cbi/valueheader%>
<textarea id="logs" class="cbi-input-textarea" style="width: 100%;" data-update="change" rows="29" readonly="readonly" > </textarea>
<script type="text/javascript">
	let logs = document.getElementById('logs')
	logs.style.display="inline"
	XHR.poll(5, '<%=url("admin", "services", "pod_clash", "get_logs")%>', null,
		(x, data) => {
			if (x.responseText && logs) {
				logs.innerHTML += x.responseText
				logs.scrollTop = logs.scrollHeight;
			}
		}
	);
</script>
<%+cbi/valuefooter%>